<div class="d-flex justify-content-between">
    <div class="mt-4">
        <h4 style="color: #e34432;"><i class="bi bi-check2-all" style="border: 1px solid red; background-color: #e34432; color: white; border-radius: 5px; padding: 2px; font-size:x-large;"></i> &nbsp;todoist</h4>
    </div>
    <div class="mt-4">
        <ul class="d-flex align-items-center" style="list-style-type: none; padding-left: 0;">
            <li class="mx-2 hover-btn" style="text-align: center;">
                <a href="/sessions/features" style="text-decoration: none; color: inherit;">
                    Features
                </a>
            </li>
            <li class="mx-2 hover-btn">
                <a href="/sessions/login" style="text-decoration: none; color: inherit;">
                    Log in
                </a>
            </li>
            <li class="mx-2">
                <a href="/sessions/signup"><button class="btn" style="background-color: #e34432; color: white;font-weight: 500;">Start for free</button></a>
                
            </li>
        </ul>
    </div>

</div>