.hover-btn{
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.hover-btn:hover{
    background-color: rgba(0, 0, 0, 0.1);


}

.hide-on-mobile {
}

.mobile-view{
    display: none;
}

@media (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }
    .mobile-view{
        display: block;
    }
}
/* Initial state for slide-down-overlay (hidden) */
/* Overlay Container Styles */
.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    overflow: hidden;
    z-index: 1000;
    transform: translateY(-100%); /* Initially above the screen */
    opacity: 1; /* Initially hidden */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* Smooth transition for both transform and opacity */
}

/* Open state */
.overlay-container.open {
    transform: translateY(0); /* Slide to its original position */
    opacity: 1; /* Make it visible */
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Logo Styling */
.logo {
    display: flex;
    align-items: center;
    padding-left: 15px;  /* Optional padding for spacing */
}

.brand-text {
    color: #e34432;       /* Brand color */
    font-size: 1.2rem;    /* Font size for the brand text */
    font-weight: bold;
    line-height: 1.2rem;
    margin-right: 8px;    /* Space between text and icon */
}

.brand-icon {
    font-size: x-large;   /* Icon size */
    border: 1px solid red;
    background-color: #e34432;
    color: white;
    border-radius: 5px;
    padding: 2px;
}
