<div class="footer">
    <div class="top d-flex flex-column justify-content-start align-items-center mt-2" >
        <h2 class="text-center responsive-web-mobile-view">
            Gain calmness and clarity with the world’s most beloved productivity app
        </h2>
        <h6 class="mt-2 secondary-text-color">this is a clone. no stars yet</h6>
        <div class="mt-4 text-center text-md-start">
            <a href="/sessions/signup">
                <button class="btn btn-lg" style="background-color:#e34432; color: white;">Start for free</button>
            </a>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <hr class="custom-hr">
    </div>

    <div>
        <div>
            github <link rel="stylesheet" href="">
            commit
        </div>
        commit new
        center footer
        merge colors
    </div>
    <div class="">
        center footer
        merge colors
        left side started footer
    </div>
    new footer starting
</div>
