<div class="footer">
    <div class="top d-flex flex-column justify-content-center align-items-center" >
        <h2 class="w-50 text-center" style="font-size: 2.5rem;">
            Gain calmness and clarity with the <br> world’s most beloved productivity app
        </h2>
        <h6 class="mt-2 secondary-text-color">this is a clone. no stars yet</h6>
    </div>
    <div>
        <div>
            github
        </div>
        center footer
        merge colors
    </div>
    <div class="">
        left side started footer
    </div>
    new footer starting
</div>
