.open-nav{
    display: flex;
    justify-content: end;
}

.close-nav{
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .open-nav{
        display: flex;
        justify-content: start;
    }
    .close-nav{
        display: flex;
        justify-content: start;
    }
}