<div class="mt-5 d-flex flex-column flex-md-row justify-content-around">
    <div class="d-flex flex-column mb-4 mb-md-0 align-items-center justify-content-center">
        <h1 class="fontsize-1 w-75" style="">
            Organize your <br> work and <br> life, finally.
        </h1>
        <h6 class="secondary-text-color mt-2 fontsize-2 w-75">
            Simplify life for both you and your team with the world’s #1 task manager and to-do list app.
        </h6>
        <h6 class="secondary-text-color mt-2 w-75 text-center text-md-start">
            But it’s a clone.
        </h6>
        <div class="mt-4 w-75 text-center text-md-start">
            <a href="/sessions/signup">
                <button class="btn btn-lg" style="background-color:#e34432; color: white;">Start for free</button>
            </a>
        </div>
    </div>
    <div class="d-flex align-items-center img-resp" style="background-color: antiquewhite; border-radius: 10px;">
        <img src="assets/homepage/homepage-img.png" class="img-fluid" style="width: 100%; border-radius: 10px;" alt="Homepage Image"/>
    </div>
</div>
