
<div class="mt-5 d-flex justify-content-around">
    <div class="d-flex flex-column" style="width: 25vw;">
        <h1 class="" style="font-size: 3.5rem;">
            Organize your <br> work and <br> life, finally.
        </h1>
        <h6 class="secondary-text-color mt-2">
            Simplify life for both you and your team with the <br> world’s #1 task manager and to-do list app.
        </h6>
        <h6 class="secondary-text-color mt-2">
            But its a clone.
        </h6>
        <div class="mt-4">
            <a href="/sessions/signup">
                <button class="btn btn-lg" style="background-color:#e34432; color: white;">Start for free</button>
            </a>
        </div>
    </div>
    <div class="d-flex align-items-center" style="width: 40vw; background-color: antiquewhite; border-radius: 10px;">
        <img src="assets/homepage/homepage-img.png" width="100%"/>
    </div>
</div>
