.custom-hr {
    width: 50vw;
    font-weight: 500;
    margin-top: 5px;
}

@media (max-width: 768px) {
.custom-hr {
    width: 80vw;
    font-weight: 500;
    margin-top: 2px;
}
}

.custom-width {
    width: 47vw;
    font-weight: 500;
}

@media (max-width: 768px) {
.custom-width {
    width: 77vw;
    font-weight: 500;
}
}

.task-item{
    transition: all .3s ease-in-out;
}
.task-item:hover{
    color: blue;
    transform: scale(1.01);
    cursor: pointer;
}

/* Initial state for the task */
.task {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* Sliding out and fading out effect using keyframes */
@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

/* Apply the animation when removing a task */
.slide-out {
    animation: slideOut 0.5s forwards;  /* 0.5s for the animation duration */
}

