<div class="today-cont my-cont" [ngClass]="show_navbar?'today': ''">
    <div class="row justify-content-around justify-content-md-end mt-5 mb-4">
        <div class="col-10 col-md-10">
            <h4>Today</h4>
        </div>
        <div class="col-10 col-md-10 mb-4" *ngIf="overdue_task_list.length + today_task_list.length>0">
            <i class="bi bi-check-circle" style="font-size: 10px;">&nbsp;{{overdue_task_list.length + today_task_list.length}} task</i>
        </div>
        <div *ngIf="overdue_task_list.length" class="col-10 col-md-10">
            <div class="d-flex align-items-center" style="position: relative;">
              <div class="col-md-8 col-8" style="margin-left: -16px;">
                <i *ngIf="overdue_not_hidden" class="bi bi-chevron-down fw-bold chevron" (click)="overdue_not_hidden = false"> Overdue</i>
                <i *ngIf="!overdue_not_hidden" class="bi bi-chevron-right fw-bold chevron" 
                   (click)="overdue_not_hidden = true"> Overdue</i>
              </div>
              <div class="col-md-2 col-2 text-start" style="font-size:x-small; text-align: center; color: #dc4c3e;">
               <button #rescheduleButton (click)="reschedule_previous_tasks()" class="btn fw-bold btn-sm" style="color: #dc4c3e; margin-left: 20px;">Reschedule</button> 
              </div>
            </div>
            <hr class="custom-hr">
        </div>
          
        <div *ngIf="overdue_task_list.length && overdue_not_hidden" class="col-10 col-md-10">
            <app-task-list-component [task_list]="overdue_task_list" (new_task_list_func)="overdue_task_list_func($event)" (reschedule_task)="reschedule_single_task($event)"></app-task-list-component>
        </div>
        <div class="col-10 col-md-10">
            <p class="fw-bold" style="font-size:small;">{{date_extended?.day}} {{date_extended?.month_name}} - Today - {{date_extended?.day_name}}</p>
            <hr class="custom-hr">

        </div>
        <div class="col-10 col-md-10">
            <app-task-list-component [task_list]="today_task_list" (new_task_list_func)="today_task_list_func($event)" (reschedule_task)="reschedule_single_task($event)"></app-task-list-component>
        </div>
    </div>
    
    
    <div class="row justify-content-around justify-content-md-end" >
        <div class="col-10 col-md-10 add-item-div" >
            <app-task-card #taskcard [show_card]="show_task_card" (show_card_output)="show_card($event)" [due_date]="date_to_show" (add_task_to_task_list)="add_new_task($event)" (date_extended)="date_event($event)"></app-task-card>
            <!-- <div *ngIf="calendar_open || show_task_card" class="calender">
                <app-calender-component></app-calender-component>
            </div> -->
            <div *ngIf="!show_task_card" class="d-flex align-items-center gap-2"
            (mouseenter)="on_hover()"
            (mouseleave)="on_leave()"
            (click)="create_new_task()">
                <i class="bi"
                [ngClass]="is_hovered ? 'bi-plus-circle-fill' : 'bi-plus'"
                 style="color: red; font-weight: lighter; font-size: larger;"></i>
                
                 <p
                 [ngClass]="is_hovered ? 'add-task-text-red' : 'add-task-text'"
                  class="text-muted text-align add-task-text">
                    Add Task
                </p>
                
            </div>
        </div>
    </div>
</div>

<div *ngIf="calendar_open" [ngStyle]="{'position': 'absolute', 'top': calendarPosition.top, 'left': calendarPosition.left, 'z-index': '1000'}" style="background-color: white;">
    <app-calender-component (date_to_show)="date_to_show($event)" (calendar_open)="calendar_open=$event"></app-calender-component>
</div>